@import './../common.scss';

.box_card {
  margin-bottom: 15px;
  .box_card--item {
    line-height: 26px;
    .box_card--item_link {
      display: block;
      height: 26px;
      color: $--color-info;
      text-decoration: none;
      &:hover {
        color: $--color-primary;
        text-decoration: underline;
      }
      .sub-title {
        font-size: 12px;
      }
    }
  }
}