@import './../common.scss';

.box-card {
  .box-card_item {
    line-height: 26px;
    .box-card_item-link {
      display: block;
      height: 26px;
      color: $--color-info;
      text-decoration: none;
      &:hover {
        color: $--color-primary;
        text-decoration: underline;
      }
      .sub-title {
        font-size: 12px;
      }
    }
  }
}