@import './../common.scss';

.home,
.list,
.detail {
  width: $page-width;
  margin: 0 auto;
}

.content {
  padding: 0 20px;
  .content-header {
    padding: 0 20px;
    height: 55px;
    line-height: 56px;
    border-bottom: solid 1px $border-color;
    .content-header_select {
      color: $--color-info;
    }
  }
  .content-footer {
    padding: 30px 0;
    text-align: center;
  }
}